@import "./main.css";

.follow {
  background-color: #24a0ed;
  color: white;
  border-radius: 99px;

  &:hover {
    background-color: #1b74ac;
    color: white;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

input {
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &:hover {
    box-shadow: inset 0 -3px 0px -2px grey;
  }

  &:focus {
    box-shadow: inset 0 -4px 0px -2px var(--color-primary);
  }
}

textarea {
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &:hover {
    box-shadow: inset 0 -3px 0px -2px grey;
  }

  &:focus {
    box-shadow: inset 0 -4px 0px -2px var(--color-primary);
  }
}
